<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>UPIK</title>
</head>
<body>
<div class="container">
    <div class="welcome-box">
        <h1>환영합니다!</h1>
        <div class="user-info">
            <p><strong>로그인 성공!</strong></p>
        </div>

        <div>
            <a href="/my">마이페이지</a>
            <a href="/logout">로그아웃</a>
        </div>
    </div>
</div>
</body>
</html>
